.home{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
    background-image: url(../images/pic4.jpg);
    color: white;

}
.navbar{
	/*margin-top: 29px;*/
    margin-left: 150px;
}

.navbar ul li{
   display: inline;
   padding: 15px;
   list-style: none;
   font-size: 20px;
}
.navbar ul li:hover{
color: royalblue;
border-bottom: 2px solid white;
}
.navbar ul li:active{
color: red;
}

.navbar ul li a{
	text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

.text{
	text-align: center;
	margin-top: 10%;
	font-weight: 100%;
	font: 150px;
}
.clickable{
	text-align: center;
	margin-top: 4%;
	border:2px solid white;
	width: 140px;
	margin-left: 45%;
	padding: 2px;
	font-size: 20px;
    border-radius: 4px;
}
.clickable:hover{
text-align: center;
	margin-top: 4%;
	border:2px solid blue;
	width: 140px;
	margin-left: 45%;
	padding: 2px;
	font-size: 20px;
	color: blue;
    border-radius: 4px;



}
.pro{
	font-size: 30px;
	margin-top: 29px;
	margin-left: 40px;

}
.blue{
	color: blue;
}
